/* General */

body {
    background: linear-gradient(to right, rgb(18, 216, 250) , rgb(20, 188, 241));
    font-family: 'Roboto', sans-serif;
}

.section {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-section {
    font-size: 24px;
}

.right-section {
    font-size: 14px;
}

.button {
    border-radius: 2px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: rgb(18, 216, 250);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover {
    background-color: rgb(20, 198, 241);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.22);
}

.button:focus {
    outline:0;
}

.button a {
    color: white;
}

/* hi */

#intro {
    margin: 0 auto;
    text-align: center;
}

.intro-wrapper {
    position: relative;
    text-align: center;
    color: white;
    height: 300px;
}

.intro-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text {
    font-size: 40px;
}

.desc-text {
    font-size: 20px;
}

/* Experience */

.left-align-text {
    float: left;
}

.right-align-text {
    float: right;
}

.job-row {
    padding-bottom: 10px;
}

.job-row p {
    padding: 0;
    margin: 0;
}

.job-employer {
    font-weight: bold;
}

/* Projects */

.project-row img {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
}

.project-row {
    font-size: 18px;
}

.project-title {
    font-weight: bold;
    font-size: 20px;
}

/* Footer */

#footer {
    width: 100%;
    height: 60px;
}

.footer-icon {
    width: 20px;
}